.mva {
  margin: auto 0
}

.mha {
  margin: 0 auto
}

.maa {
  margin: auto
}

.ml0 {
  margin-left: 0
}

.ml1 {
  margin-left: 8px
}

.ml2 {
  margin-left: 16px
}

.ml3 {
  margin-left: 32px
}

.ml4 {
  margin-left: 64px
}

.ml5 {
  margin-left: 128px
}

.ml6 {
  margin-left: 256px
}

.ml7 {
  margin-left: 512px
}

.ml8 {
  margin-left: 1024px
}

.mr0 {
  margin-right: 0
}

.mr1 {
  margin-right: 8px
}

.mr2 {
  margin-right: 16px
}

.mr3 {
  margin-right: 32px
}

.mr4 {
  margin-right: 64px
}

.mr5 {
  margin-right: 128px
}

.mr6 {
  margin-right: 256px
}

.mr7 {
  margin-right: 512px
}

.mr8 {
  margin-right: 1024px
}

.mt0 {
  margin-top: 0
}

.mt1 {
  margin-top: 8px
}

.mt2 {
  margin-top: 16px
}

.mt3 {
  margin-top: 32px
}

.mt4 {
  margin-top: 64px
}

.mt5 {
  margin-top: 128px
}

.mt6 {
  margin-top: 256px
}

.mt7 {
  margin-top: 512px
}

.mt8 {
  margin-top: 1024px
}

.mb0 {
  margin-bottom: 0
}

.mb1 {
  margin-bottom: 8px
}

.mb2 {
  margin-bottom: 16px
}

.mb3 {
  margin-bottom: 32px
}

.mb4 {
  margin-bottom: 64px
}

.mb5 {
  margin-bottom: 128px
}

.mb6 {
  margin-bottom: 256px
}

.mb7 {
  margin-bottom: 512px
}

.mb8 {
  margin-bottom: 1024px
}

.pl0 {
  padding-left: 0
}

.pl1 {
  padding-left: 8px
}

.pl2 {
  padding-left: 16px
}

.pl3 {
  padding-left: 32px
}

.pl4 {
  padding-left: 64px
}

.pl5 {
  padding-left: 128px
}

.pl6 {
  padding-left: 256px
}

.pl7 {
  padding-left: 512px
}

.pl8 {
  padding-left: 1024px
}

.pr0 {
  padding-right: 0
}

.pr1 {
  padding-right: 8px
}

.pr2 {
  padding-right: 16px
}

.pr3 {
  padding-right: 32px
}

.pr4 {
  padding-right: 64px
}

.pr5 {
  padding-right: 128px
}

.pr6 {
  padding-right: 256px
}

.pr7 {
  padding-right: 512px
}

.pr8 {
  padding-right: 1024px
}

.pt0 {
  padding-top: 0
}

.pt1 {
  padding-top: 8px
}

.pt2 {
  padding-top: 16px
}

.pt3 {
  padding-top: 32px
}

.pt4 {
  padding-top: 64px
}

.pt5 {
  padding-top: 128px
}

.pt6 {
  padding-top: 256px
}

.pt7 {
  padding-top: 512px
}

.pt8 {
  padding-top: 1024px
}

.pb0 {
  padding-bottom: 0
}

.pb1 {
  padding-bottom: 8px
}

.pb2 {
  padding-bottom: 16px
}

.pb3 {
  padding-bottom: 32px
}

.pb4 {
  padding-bottom: 64px
}

.pb5 {
  padding-bottom: 128px
}

.pb6 {
  padding-bottom: 256px
}

.pb7 {
  padding-bottom: 512px
}

.pb8 {
  padding-bottom: 1024px
}
:root {
  --clr-1: #1d2d50;
  --clr-2: white;
  --clr-3: #6930c3;
  --clr-4: #1e5f74;
  --clr-5: #64dfdf;
  /* --clr-6: #ffcd00;
  --clr-7: #ff7e00; */
  --clr-6: #ADEFD1;
  --clr-7: #C7D3D4;
}

html{
  scroll-snap-type: mandatory;
  scroll-snap-type: y proximity;
  scroll-padding-top: 3rem;
  scroll-padding-bottom: 3rem;
}
body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  color: var(--clr-1, black);
  background: var(--clr-2);
}

body,
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body a{
  color: var(--clr-3);
}

p, li, a{
  line-height: 1.5;
}
h1{
  display: inline;
}
#home{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: auto;
  place-items: stretch;
  place-content: stretch;
}
#intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8rem;
  height: 100vh;
  min-height: 32rem;
  position: relative;
}
svg#visualBlob{
  position: absolute;
  left: -4rem;
  isolation: isolate;
}
svg#visualBlob path{
  /* fill: #BB004B; */
  fill: var(--blob-clr, var(--clr-6));
  /* transition: all 1s ease 0s; */
}
#hello{
  font-size: 8rem;
  color: var(--clr-1);
  font-weight: 700;
}
.subtext{
  font-size: 1.5rem;
  color: var(--clr-4);
  display: inline;
  margin: 0;
}
#contact{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}
#experienceProjects{
  padding: 5rem;
  height: 100vh;
  overflow: auto;
  scroll-snap-type: mandatory;
  scroll-snap-type: y proximity;
  scroll-padding-top: 3rem;
  scroll-snap-align: start;
}
#experience article section{
  transition: all .3s ease-in-out;
  padding: 3rem;
  margin-inline-start: -3rem;
}
#experience article section:hover{
  box-shadow: 2rem 2rem 4rem rgb(0 0 0 / 10%), 2rem 2rem 4rem rgb(255 255 255 / 10%);
  border-radius: 3rem;
  background: rgba(0,0,0,0.03);
}
#experience article section ol{
  margin-inline-start: 2rem;
}
#experience article, #experience article section, #projects{
  scroll-snap-align: start;
}
#projects{
  padding-top: 5rem;
  border-top: 1px solid var(--clr-1);
  padding-bottom: 5rem;
}
#projectGrid{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: row;
}
#projectGrid .project-tile{
  /* background: conic-gradient(at top right, var(--clr-4),var(--clr-5)); */
  aspect-ratio: 1/1;
  padding: 0;
  margin: 0;
  line-height: 0;
  display: block;
  box-shadow: none;
  transition: all .2s linear;
  position: relative;
  --project-tile-radius: 20% 40% 40% 20%;
}

#projectGrid .project-tile a{
  display: block;
  line-height: inherit;
  border-radius: var(--project-tile-radius);
  overflow: hidden;
}
#projectGrid .project-tile:active{
  box-shadow: none;
}
#projectGrid .project-tile a img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#projectGrid .project-tile:before, #projectGrid .project-tile:after{
  position: absolute;
  content: "";
  background: var(--clr-5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: .75;
  border-radius: var(--project-tile-radius);
  transition: opacity ease-in-out .3s, transform ease-in-out .3s;
}
#projectGrid .project-tile:after{
  background: var(--clr-3);
}
#projectGrid .project-tile:hover:before{
  transform: rotate(-2deg) scale(1.025) skew(.05rad);
}
#projectGrid .project-tile:hover:after{
  transform: rotate(2deg) scale(1.025) skew(.05rad);
}
#projectGrid .project-tile:nth-child(2n){
  --project-tile-radius: 35% 25% 40% 20%;
}
#projectGrid .project-tile:nth-child(3n){
  --project-tile-radius: 30% 25% 25% 25%;
}
@media (prefers-reduced-motion) {
  #projectGrid .project-tile:before, #projectGrid .project-tile:after{
    transition: none;
  }
}

@media (max-width:1024px){
  #home{
    grid-template-columns: 1fr;
  }
  .subtext{
    display: inline-block;
  }
  #home, #experienceProjects{
    height: auto;
  }
}

@media (prefers-color-scheme: dark) {
  :root{
    --clr-1: white;
    --clr-2: #1d2d50;
    --clr-3: #C7D3D4;
    --clr-4: #C7D3D4;
  }
  #intro,#intro > *{
    mix-blend-mode: difference;
  }
  #experience article section:hover{
    background-color: rgba(0,0,0,0.1);
  }
  #projectGrid .project-tile{
    --clr-5: Crimson;
    --clr-3: Yellow;
  }
}
@media print {
  #home{
    display: flex;
    flex-direction: column;
    height: auto;
  }
  #experience{
    height: auto;
  }
  #experienceProjects{
    height: auto;
  }
}